<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title or "Login" }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Open+Sans&family=Montserrat&display=swap" rel="stylesheet">
    {% if title == "Register" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    {% elif title == "Login" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    {% elif title == "Admin" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    {% elif title == "Edit Parking Lot" or title == "View" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_lot.css') }}">
    {% elif title == "User_dashboard" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_dashboard.css') }}">
    {% elif title == "View Available Parking Lots" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view_available_parking_lots.css') }}">
    {% endif %}
</head>
<body>

    {% block content %}{% endblock %}

</body>
</html>
