<html>
    <head>
        <title>
            Register
        </title>
    </head>

    <body>
        <h1> User Registration</h1>
        <form method = 'POST'>
            Username: <input type = "text" name = "username" required> <br>
            Password: <input type = "password" name = "pasword" required> <br>
            Fullname: <input type = "text" name = "fullname" required> <br>
            Address: <input type = "text" name = "address" required> <br>
            Pin Code: <input type = "text" name = "pin_code" required> <br>
            Phone Number: <input type = "text" name = "phone_number" required> <br>
            <input type = "submit" value = "Register">
        </form>
        <p>
            Already registered? <a href="/login">Login</a> <br>
            <a href="/login">Back</a>
        </p>
    </body>
</html>